/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #ff675a;
  --first-color-alt: #ff675a;
  --title-color: #1a1a1a;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #ffffff;
  --secondary-color: #413a7c;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}
.navbar .active {
  color: var(--first-color);
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__link::after {
  content: "";
  display: block;
  border-bottom: solid 2px var(--first-color);
  border-radius: 100px;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scaleX(1);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: var(--title-color);
  cursor: pointer;
  transition: all 0.2s linear;
  border: 2px solid var(--first-color);
}

.btn:hover {
  background-color: var(--first-color);
  color: #fff;
}

.heading {
  text-align: center;
  color: var(--title-color);
  font-size: 3.5rem;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--purple);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--purple);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--purple);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(STOCK/homebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .image img {
  width: 30vw;
}

.home .content h1 {
  font-size: 3.5rem;
  color: var(--title-color);
}

.home .content h1 span {
  color: var(--first-color);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--title-color);
  padding: 1rem 0;
}
.features {
  background-color: #fdf6f0;
}
.features h1 {
  font-size: 3rem;
}
.features .heading span {
  color: var(--secondary-color);
}
.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.2s linear;
}

.features .box-container .box img {
  width: 100%;
}

.features .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 0.5rem;
}

.features .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 0.5rem 0;
}

.review .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
}

.review .box-container .box .fa-quote-right {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 8rem;
  color: var(--first-color);
  opacity: 0.3;
}

.review .box-container .box .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
}

.review .box-container .box .user h3 {
  color: var(--pink);
  font-size: 2rem;
}

.review .box-container .box .user .stars i {
  color: var(--purple);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box-container .box .comment {
  color: #666;
  font-size: 1.4rem;
  padding: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  background-image: url(STOCK/homebg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact .image {
  flex: 1 1 30rem;
}

.contact .image img {
  width: 90%;
  padding: 2rem;
}
.contactinfo h1 {
  margin-top: 5rem;
}
.footer {
  padding-top: 3rem;
  background-color: var(--secondary-color);
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--container-color);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: var(--body-color);
  opacity: 90%;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: var(--body-color);
  opacity: 90%;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box .info {
  display: flex;
  align-items: center;
}

.footer .box-container .box .info i {
  margin: 0.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: var(--pink);
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}
#contact .credit {
  position: fixed;
}
.footer .credit {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: var(--body-color);
  border-top: 0.1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }

  header input:checked ~ label::before {
    content: "\f00d";
  }
  ul {
    display: block;
  }
  .home {
    flex-flow: column;
    text-align: center;
  }

  .home .image img {
    width: 100%;
    margin-top: 1rem;
  }
  .home .abtimg img {
    width: 100%;
    margin-top: 3rem;
  }
  .home .chead {
    font-size: 3rem;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .about {
    background-position: right;
  }

  .newsletter p {
    width: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }

  .about .column .content .buttons a:last-child {
    margin: 1rem 0;
  }
  .box img {
    width: 100%;
  }
}

header span {
  color: var(--first-color);
}

/*gallery*/
#gallery {
  width: 100%;
  background-color: #fdf6f0;
}
.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 160px;
  width: 220px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 160px;
  width: 220px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover {
  cursor: pointer;
}

.opacity-low {
  opacity: 0.5;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.counters {
  background-image: url(donbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
  margin-top: 7rem;
}

.counters i {
  color: lightskyblue;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2) {
    padding-bottom: 20px;
  }
}
#head {
  margin-top: 5rem;
  text-align: center;
  color: var(--title-color);
  font-size: 2rem;
}
#head span {
  color: var(--secondary-color);
}
#contact {
  height: 100%;
  background: url(STOCK/contactbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card {
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 140px;
  background-color: var(--secondary-color);
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 32px;
  color: var(--first-color);
  transition: 0.3s linear;
}

.card:hover .icon {
  transform: scale(4);
  opacity: 0;
}

.card-content h3,
.card-content span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  opacity: 0;
}

.card-content h3 {
  top: 20px;
  text-transform: uppercase;
  color: var(--first-color);
}

.card-content span {
  bottom: 20px;
  color: #fff;
  font-weight: 500;
}

.card:hover h3 {
  opacity: 1;
  top: 46px;
  transition: 0.3s linear 0.3s;
}

.card:hover span {
  opacity: 1;
  bottom: 46px;
  transition: 0.3s linear 0.3s;
}

@media screen and (max-width: 900px) {
  .card {
    flex: 100%;
    max-width: 500px;
  }
}
.contactinfo h1 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin-top: 4rem;
}
#contact .credit {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--body-color);
  font-weight: 500;
}
#gallery .credit {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--body-color);
  font-weight: 500;
  width: 100%;
  text-align: center;
}
#home .credit {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--body-color);
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.counters .credit {
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--body-color);
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.social {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.social ul {
  display: flex;
  justify-content: center;
}
.social ul a {
  margin: 1rem;
  color: var(--first-color);
}
.social ul a:hover {
  color: var(--secondary-color);
}
